@media (max-width: 661px) 
{

.menu li a{
    padding: 0px;

}#botao-abre-menu
{   font-size: 1.1em;
    border: none;
    background-color:transparent;
    font-weight: 500;
}
    .logo{
        font-size: 1em;
        padding-left:0;
    }
.nav-bar{
    width: 100%;
    justify-content: center;
}
    .input-menu
    {
    width:50px;  
    }
    #menu-responsivo
{   
    position: absolute;
    left: 0px;
    background: rgba(255, 255, 255, 0.966);
    padding-top: 150px ;
    width: 100%;
    display:flex;
    flex-direction: column;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.432);
    transform: translate3d(-1500px, 0, 0);
    transition: transform .50s cubic-bezier(0, .52, 0, 1);
}
    .container-promocoes
{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    .botao-promocao
{
    display: flex;
    background: #5B1865;
    width: 47%;
    margin: 5px;
    color: #FFFFFF;
    justify-cont
    ent: center;
    align-items: center;
}
.container-sessao
{
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.box-sessao
{
    margin:5px;
    width: 93%;
}
.container-categorias
{
    width: 100%;
    justify-content:center;
}
.categoria-img
{
    margin:5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.219);
}
.container-marcas
{
    width: 100%;
    justify-content: center;   
}
.img-marcas
{
    margin:5px;
    width: 100px;
    height: auto;
    overflow: hidden;
}
.container-featuring
{
    position: relative;
    width: 100%;
    height:450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 77px;
}
.rodape{
   height: 200px; 
}
.rodape p 
{
    line-height: 200px;
}
}