html, body{
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}
*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
a,p,h3,h2,h1,li,ul,div,section{padding: 0;}

.nav
{
    position: fixed;    
    width: 100%;
    height: auto;
    background:#53135D;
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.nav-bar
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
    .nav-bar ul
    {
        display: flex;
    }
    .logo{
        font-weight: bolder;
        font-size: 2em;
        color: white;
    }
.nav-categoria
{
    width: 100%;
    text-align: left;
    background: #FFFFFF;
    padding-left: 30px;
}
.input-menu
{
    width:600px;
      height: 40px;
      margin: 0 auto;
      border: none; /* <-- This thing here */
      border:solid 1px #ccc;
      border-radius: 35px;
    padding: 0 20px;
    
    
}
.pesquisa
{
    position: relative;
}
.icone-input{
width: 18px;
position: absolute;
top: 10px;right: 20px;
}
.icone-input img{
    width: 100%;
}
#tresIcons{
    width: 18px;
}
.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a{
    padding: 15px;
    color: white;
    font-weight: 500;
}
.featuring
{
   
    padding-top: 138px;
    display: flex;
    flex-direction: column;
    
    background-image: url("img/fashion-1031469_1920.jpg");
}
.container-featuring
{
    position: relative;
    width: 100%;
    height:600px;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.container-featuring > .frete
{
    position: fixed ;
    background: #a5a5a5b0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-featuring
{
    padding: 10px 60px;
    background: #25110181;
    color: #FFFFFF;
    border: none;
    position: absolute;
    bottom: 100px;
    font-size: 1.2em;
}
.promocoes{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-promocoes
{
    display: flex;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
}
.botao-promocao
{
    display: flex;
    background: #5B1865;
    width: 22%;
    padding: 15px 0px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.sessao
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-sessao
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 

}
.box-sessao
{
    margin:80px 0 ;
    display: flex;
    flex-direction: column;

    width: 30%;
    overflow: hidden;
}
.box-sessao-img
{
    overflow: hidden;
    width: 100%;
}

.box-sessao-img img{
    width:100%;  
    overflow: hidden;
}

.box-sessao > p{
    text-align: center;
}
.categorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-categorias
{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.categoria-img
{
    margin:80px 0 ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.219);
}
.categoria-img img{
    width: 100%;
    
}
.marcas
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container-marcas
{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    
}
.img-marcas
{
    margin:80px 0 ;
    width: 240px;
    height: auto;
    overflow: hidden;
}
.img-marcas img{
    width: 100%;
}
.rodape
{
    width: 100%;
    height: 400px;
    background:#53135D;
}
.rodape p{
    line-height: 400px;
    text-align: center;
    color: white;
}

