html, body{
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}
*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
a,p,h3,h2,h1,li,ul,div,section{padding: 0;}

.nav
{
    position: fixed;    
    width: 100%;
    height: auto;
    background:#53135D;
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.nav-bar
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
    .nav-bar ul
    {
        display: flex;
    }
    .logo{
        font-weight: bolder;
        font-size: 2em;
        color: white;
    }
.nav-categoria
{
    width: 100%;
    text-align: left;
    background: #FFFFFF;
    padding-left: 30px;
    position: relative;
}
.input-menu
{
    width:600px;
      height: 40px;
      margin: 0 auto;
      border: none; /* <-- This thing here */
      border:solid 1px #ccc;
      border-radius: 35px;
    padding: 0 20px;
    
    
}

.pesquisa
{
    
    position: relative;
}
.icone-input{
width: 18px;
position: absolute;
top: 10px;right: 20px;
}
.icone-input img{
    width: 100%;
}

#tresIcons{
    width: 18px;
}
.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a{
    padding: 15px;
    color: white;
    font-weight: 500;
}#botao-abre-menu
{
    border: none;
    background-color:transparent;
}
/*menu responsivo*/
#menu-responsivo
{   
    position: relative;
    left: 0px;
    background: rgba(255, 255, 255, 0.966);
    padding-top: 150px ;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.432);
    transform: translate3d(-1500px, 0, 0);
    transition: transform .50s cubic-bezier(0, .52, 0, 1);
}
#menu-responsivo.show {
    transform: translate3d(0px, 0, 0);
}
#login
{
    padding: 30px 30px;
    position: fixed; z-index: 101;
    top: 150px;
    right: 500px;
    display: none;
    height: auto;
    background: rgb(206, 206, 206);
    border-radius: 15px;
}

#container-login{
    border-radius: 15px;
    display: flex; flex-direction: column; justify-content: start;align-items: center;
    background: transparent;
    padding: 30px;
}
.botao-form 
{
    border: none;
    width: 100px;
    padding: 5px 5px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formulario-login p{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}
.formulario-login label
{
    font-size: 1.4em;
    font-weight: 500;
    border: none;
}
#formulario-login input{
    margin: 5px;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: bold;
    border: none;
}
.menu-row
{
    width: 100%;
}
.menu-row ul{
    display: flex;
    justify-content: space-around;
}
.menu-column{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*menu responsivo*/
.featuring
{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 98;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/fashion-1031469_1920.jpg");

}
.container-featuring
{
    position: relative;
    width: 100%;
    height:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-featuring > .frete
{
    position: fixed;
    top: 100px;
    background: #a5a5a5b0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-featuring
{
    padding: 10px 60px;
    background: #25110181;
    color: #FFFFFF;
    border: none;
    position: absolute;
    bottom: 100px;
    font-size: 1.2em;
}
.promocoes{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-promocoes
{
    display: flex;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
}
.botao-promocao
{
    display: flex;
    background: #5B1865;
    width: 22%;
    padding: 15px 0px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.sessao
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-sessao
{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 

}
.box-sessao
{
    margin:80px 0 ;
    display: flex;
    flex-direction: column;

    width: 30%;
    overflow: hidden;
}
.box-sessao-img
{
    overflow: hidden;
    width: 100%;
}

.box-sessao-img img{
    width:100%;  
    overflow: hidden;
}

.box-sessao > p{
    text-align: center;
}
.categorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-categorias
{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.categoria-img
{
    margin:80px 0 ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.219);
}
.categoria-img img{
    width: 100%;
    
}
.marcas
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.089);
    
}
.container-marcas
{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    
}
.img-marcas
{
    margin:80px 0 ;
    width: 240px;
    height: auto;
    overflow: hidden;
}
.img-marcas img{
    width: 100%;
}
.rodape
{
    width: 100%;
    height: 400px;
    background:#53135D;
}
.rodape p{
    line-height: 400px;
    text-align: center;
    color: white;
}


